.container {
	width:100%;
	display:flex;
	overflow:auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header-container {
	width:1000px;
	padding:20px;
}

.skill-container {
	width:1000px;
	overflow:auto;
}

.content-container {
	width:1000px;
	overflow:auto;
	display:flex;
	flex-direction: row;
	align-items: flex-start;
}

.column {
	flex:1;
	display:flex;
	flex-direction: column;
}

.header-image {
	margin:20px;
	width:120px;
	height:120px;
	border-radius: 120px;
	float:left;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-position:center;
	background-size: cover;
}

.project-container {
	width:100%;
	display:flex;
}

.project-image {
	padding-top:20px;
	flex:1;
}

.project-content {
	flex:3;
}

.card {
	margin:10px;
	flex:1;
	box-sizing: border-box;
}

md-chip {
  max-width: 200px;
  margin:2px;
  float:left;
}

.img-circle {
	width:80px;
	height:80px;
	margin-right:6px;
	border-radius: 80px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-position:center;
	background-size: cover;
	cursor:pointer;
}